﻿@model ParisEntreAmis.Models.BetsAvailableForCircleEditModel




<b>@Model.CategoryName</b>

<table class="table table-condensed">
  
     @foreach (var item in Model.MatchsAvailable)
     {
         
            string trclass = "";
            string classBtnAdd = "";
            string classBtnRemove = "hidden";
         
            if (item.IsAlreadyInCircle)
            {
                trclass = "success";
                classBtnAdd = "hidden";
                classBtnRemove = "";
            }
          
         
	    <tr class="@trclass" id="match_@item.Match.MatchID" >
            <td>
                 @item.Match.HomeTeam.Name  
           
                 - 
            
                 @item.Match.AwayTeam.Name 
            </td>
            <td>
                 @item.Match.Date
            </td>
            <td>                                  
                <button type="button" id="btnRemove_@item.Match.MatchID" class="btn btn-danger @classBtnRemove" onclick="removeFromCircle(this.id,@item.Match.MatchID,@Model.BetCircle.BetCircleID)"  >supprimer</button>
                 
                <button type="button" id="btnAdd_@item.Match.MatchID" class="btn btn-success @classBtnAdd" onclick="addToCircle(this.id,@item.Match.MatchID,@Model.BetCircle.BetCircleID)"  >ajouter</button>
            </td>
        </tr>
            
    }


</table>



<script>


    $(document).ready(function () {


        $(document).bind("BetDeleted", function (e) {
            DisplayLineInAddingMode(e.matchID);
        });

    });

    function DisplayLineInAddingMode(matchID){

        var idLine = "match_" + matchID;
        var idBtnAdd = "btnAdd_" + matchID;
        var idBtnRemove = "btnRemove_" + matchID;


        $("#" + idLine).removeClass("success");

        //On cache le bouton remove et show le bouton add
        $("#" + idBtnRemove).addClass("hidden");

        $("#" + idBtnAdd).removeClass("hidden");
        $("#" + idBtnAdd).removeClass("disabled");

    }

    function addToCircle(idBtn , matchId, circleId) {

        $("#"+idBtn).addClass("disabled");

        var idLine = "match_" + matchId;
        var idBtnAdd = "btnAdd_" + matchId;
        var idBtnRemove = "btnRemove_" + matchId;

        $.post("@Url.Action("AddMatchToCircle","BetCircle")" , { MatchID: matchId, CircleID: circleId })
           .done(function (data) {
               
               $("#" + idLine).addClass("success");

               //On cache le bouton add et show le bouton supprimer
               $("#" + idBtnAdd).addClass("hidden");
               $("#" + idBtnRemove).removeClass("hidden");
               $("#" + idBtnRemove).removeClass("disabled");

               // $("#" + idLine).appendTo($("#BetActivatedInCercle"));

               $("#BetsInCircle").append(data);
               
           });
    }


    function removeFromCircle(idBtn, matchId, circleId) {

        $("#" + idBtn).addClass("disabled");


        $.post("@Url.Action("RemoveMatchFromCircle","BetCircle")", { MatchID: matchId, CircleID: circleId })
           .done(function (data) {

               DisplayLineInAddingMode(matchId);

               //On émet un event avec l'ID du paris associé au match qui vient d'être supprimé
               var event = jQuery.Event("MatchDeleted");
               event.betId = data;

               $(document).trigger(event);


           });
    }

  

</script>