﻿@model ParisEntreAmis.Models.Bet

 <tr id="lineBet_@Model.BetID" >
    <td>
        @Model.Match.HomeTeam.Name  
           
        - 
            
        @Model.Match.AwayTeam.Name 
    </td>
    <td>
        @Model.Match.Date
    </td>

    <td>
        @Model.DeadLine
    </td>
     <td>
      <button type="button" class="btn btn-danger" onclick="DeleteBet(@Model.BetID, @Model.Match.MatchID)"  >supprimer</button>

     </td>
           
</tr>