﻿@model ParisEntreAmis.Models.BetCircle

@{
    ViewBag.Title = "Création d'un nouveau cercle";
}




<h2>Création d'un nouveau cercle</h2>


@using (Html.BeginForm()) {


    <b>Nom du cercle :</b>
    @Html.EditorFor(model=>model.Name)
     
        
    <br />
    
    <input type="submit" value="Create" />
    
}