﻿@model ParisEntreAmis.Models.BetCircleViewModel

@{
    ViewBag.Title = "Cercle " + @Model.BetCircle.Name;
}

    <script src='https://cdn.firebase.com/v0/firebase.js'></script>


<ol class="breadcrumb breadcrumb-large">  
    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">@Html.DisplayFor(model=>model.BetCircle.Name)</li>
</ol>


 <div class="row">
      <div class="col-md-8">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Rencontres dans le cercle
                
                @if (Model.IsCurrentUserCircleAdmin)
                {
                    <div class="pull-right">
                        <a href="@Url.Action("Edit","BetCircle", new { id = @Model.BetCircle.BetCircleID })"><span class="glyphicon glyphicon-cog"></span> paramétrer le cercle</a>
                    </div>
                }                

            </div>
    
           <div class="list-group">

               
                @foreach (var bet in Model.BetsToDisplay)
                {

                    string strClass = "";
                    if (bet.IsClosed)
                    {
                        strClass = "glyphicon glyphicon-lock";
                    }
                    else if ((bet.DeadLine.Subtract(DateTime.Now)).Days <= 2)
                    {
                        strClass = "glyphicon glyphicon-warning-sign";
                    }
                    else
                    {
                        strClass = "warning";
                    }
                    
                    <a href="@Url.Action("Play", "Bet", new { id = @bet.BetID })" class="list-group-item">
                        <span class="@strClass pull-right" ></span>
                        <h4 class="list-group-item-heading">
                            @bet.Match.HomeTeam.Name - @bet.Match.AwayTeam.Name
                        </h4>
                        <p class="list-group-item-text">
                            Date de la rencontre: @bet.Match.Date
                        </p>
                        <p class="list-group-item-text">
                            Date limite pour pronostiquer: @bet.DeadLine.AddHours(1)
                        </p>
                        @if (!bet.CalculateNormalScore)
                        {
                            <p class="list-group-item-text">
                               <b> Multiplexe ! Donne +1 point en cas de résultat juste !</b>
                                
                            </p>    
                        }
                        
                    </a>                    
                }
              
           </div>
               

        </div>

    </div>

    <div class="col-md-4">

        @if (Model.IsCurrentUserCircleAdmin)
        {
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Gérer les inscriptions au cercle</div>
                
                  <div class="panel-body">

                    Membres: @Model.BetCircle.Users.Count / @Model.BetCircle.MaxUser
                    <br />
                    Nombre de places maximum: 
                      
                    <select class="form-control">
                        @for (int i=5;i<=25;i++)
                        {
                            string s = "";
                            if(i==Model.BetCircle.MaxUser)
                            {
                                s = "selected='selected'";
                            }
                            
                            <option @s value="@i">@i</option>
                        }                                            
                    </select>
                    <br />
                    Partager ce lien avec vos amis pour qu'ils puissent rejoindre votre cercle<br />
                    <input type="text" class="form-control" id="exampleInputEmail2" value="http://parisentreamis.apphb.com/@Url.Action("JoinCircle", "BetCircle", new { circleGuid= @Model.BetCircle.SharedGUID})" />
                    <br />

                    <button type="button" class="btn btn-success btn-lg btn-block">Partager sur facebook</button>
                    <button type="button" class="btn btn-success btn-lg btn-block">Partager sur google+</button>
                    <button type="button" class="btn btn-success btn-lg btn-block">Partager sur twitter</button>

                </div>

            </div>    
        }
        
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Scores</div>
         
            <table id="usersInCircle" class="table table-striped">

                @{int place = 1;}
                @foreach (var user in Model.ScoreBoard)
                {
                    <tr>
                        <td>
                            #@place
                        </td>
                        <td>
                            @if (place == 1)
                            {
                                <i class="fa fa-trophy"></i>     
                            }
                            @user.Name
                        </td>         
                        <td>
                            <b>@user.Score</b>
                        </td>          
                    </tr>
                    place++;
                }
            
            </table>
        </div>

         <div class="panel panel-default">
             
            <!-- Default panel contents -->
            <div class="panel-heading">Chat</div>
              
            <ul style="height:300px; overflow:scroll" class="list-group" id='messagesDiv'>
            </ul>
         
            <input class="form-control" type='text' id='messageInput' placeholder='Message'>
            <script>


                var myDataRef = new Firebase('https://kymic.firebaseio.com/chat/@Model.BetCircle.BetCircleID');

                var messageListQuery = myDataRef.limit(25);

                var AUTH_TOKEN = "@ViewBag.firebaseToken";

                // Log me in.
                myDataRef.auth(AUTH_TOKEN, function (error) {
                    if (error) {
                        console.log("Login Failed!", error);
                    } else {
                        console.log("Login Succeeded!");
                    }
                });

                $('#messageInput').keypress(function (e) {
                if (e.keyCode == 13) {
                    var name = "@User.Identity.Name";
                    var text = $('#messageInput').val();
                    myDataRef.push({ Username: name, text: text }, function (error) {
                        if (error) {
                            alert("Petit malin! Bien tenté, mais ton message n'a pas été enregistré: " + error);
                        }
                    });
                    $('#messageInput').val('');
                }
                });

                messageListQuery.on('child_added', function (snapshot) {
                    var message = snapshot.val();
                    displayChatMessage(message.Username, message.text);
                });

                function displayChatMessage(name, text) {
                    
                    $('<li class="list-group-item" />').text(text).prepend($('<b/>').html(name + ':<br/>')).appendTo($('#messagesDiv'));
                    $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
                };
            </script>
        </div>

    </div>

</div>

    