﻿@model ParisEntreAmis.Models.BetCircleEditModel

@{
    ViewBag.Title = "Paramétrage du cercle";
}




<h2>Paramétrage du cercle</h2>


@using (Html.BeginForm()) {


    <b>Nom du cercle :</b>
    @Html.EditorFor(model=>model.Name)
     
        
    <br />
    
    <div class="row">
      <div class="col-md-6">


           <b>Choisir les prochaines rencontres à ajouter :</b>
    
            <br />
    
            <br />
    
            <b>Sélection de compétition prédéfinis: </b>
    
    
            <select id="selectBetCategory">
                <option value="">-- SELECT --</option>
                <optgroup label="Football"></optgroup>
                <option value="@ParisEntreAmis.Constants.CODE_CATEGORY_SOCCER_FRANCE_L1">France: Ligue 1 </option>
                <option value="@ParisEntreAmis.Constants.CODE_CATEGORY_SOCCER_ALLEMAGNE_L1">Allemagne: Bundesliga</option>
                <option value="@ParisEntreAmis.Constants.CODE_CATEGORY_SOCCER_ANGLETERRE_L1">Angleterre: Premier League</option>
                <option value="@ParisEntreAmis.Constants.CODE_CATEGORY_SOCCER_LDC">Ligue des Champions</option>

            </select>
    
            <div id="selectBetPredefined">

            </div>

      </div>
      <div class="col-md-6">


          <b>Utilisateurs dans le cercle:</b>

          <table id="usersInCircle" class="table table-striped">

              <tr>
                  <td><i>Created by: </i> @Model.BetCircle.Creator.Username</td><td></td>
              </tr>

              @foreach (var user in Model.BetCircle.Users)
              {
                <tr id="LineUsersInCircle_@user.UserID">
                    <td>@user.Username</td>
                    <td>      
                        <button type="button" class="btn btn-danger disabled" disabled="disabled" onclick="DeleteUserFromCircle(@user.UserID, @Model.BetCircle.BetCircleID)"  >supprimer</button>
                    </td>
                </tr>
              }
            
          </table>
          

          <b>Rencontres activés dans le cercle:</b>


          <table id="BetsInCircle" class="table table-condensed">
              <tr>
                  <th>
                      Equipes
                  </th>
                  <th>
                      Date de la rencontre
                  </th>
                  <th>
                      Date limite pour voter
                  </th>

              </tr>
              @foreach (var bet in Model.BetsInCircle)
              {                  
                  @Html.Partial("_EditBetsInCircle", bet)           
                  
              }

           </table>


      </div>
    </div>
     
   
    
}

<script>

    $("#selectBetCategory").change(function () {

        if (this.value != "") {

            $.post("@Url.Action("DisplayBetsAvailableInCategory","BetCircle")", { BetCircleID: "@Model.BetCircle.BetCircleID", CodeCategory: this.value })
               .done(function (data) {
                   $("#selectBetPredefined").html(data);
               });
        } else {
            $("#selectBetPredefined").html("");
        }


    });

    function DeleteBet(betID, matchID)
    {
        $.post("@Url.Action("RemoveBetFromCircle","BetCircle")", { MatchID: matchID, BetID: betID })
          .done(function (data) {

              $("#lineBet_" + betID).remove();

              //On émet un event avec l'ID du match associé au paris qui vient d'être supprimé
              var event = jQuery.Event("BetDeleted");
              event.matchID = matchID;

              $(document).trigger(event);
          });
    }

    function AddUserToCircle(btnId,userID, circleID) {

        $.post("@Url.Action("AddUserToCircle","BetCircle")", { UserID: userID, CircleID: circleID })
          .done(function (data) {
              
              $("#" + btnId).remove();

              var id = "#LineUsersNotInCircle_" + userID;

              $(id).appendTo($("#usersInCircle"));
                          
          });
    }


    $(document).ready(function () {


        $(document).bind("MatchDeleted", function (e) {
            $("#lineBet_" + e.betId).remove();

        });

    });





</script>

