﻿@model List<ParisEntreAmis.Models.BetCircle>

@{
    ViewBag.Title = "Choix du paris à intégrer";
}




<h2>Mes paris</h2>


<ul>

</ul>



<h2>Choix du paris à intégrer:</h2>

<ul>

    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }

</ul>