﻿@model ParisEntreAmis.Models.ConfirmJoinCircle

@{
    ViewBag.Title = "Pronostics Entre Amis - Rejoindre un cercle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb breadcrumb-large">  
    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">@Html.DisplayFor(model=>model.BetCircle.Name)</li>
</ol>


@if (Model.Status == ParisEntreAmis.Service.CanPeopleJoinCircle.Yes)
{
    
    <div class="alert alert-info">

        Êtes-vous sûr de vouloir rejoindre le cercle <b>@Model.BetCircle.Name</b> ?

        <br />
        <a href="@Url.Action("Index","Home")"  class="btn btn-default">annuler</a>
        <a href="@Url.Action("ConfirmJoinCircle", "BetCircle", new {circleGuid = @Model.BetCircle.SharedGUID })"  class="btn btn-success">Oui je rejoins le cercle</a>

    </div>
    
}
else
{
    <div class="alert alert-danger">
            
        @if (Model.Status == ParisEntreAmis.Service.CanPeopleJoinCircle.AlreadyMember)
        {
            <span>Vous êtes déjà membre de cercle</span>
        }
        else if (Model.Status == ParisEntreAmis.Service.CanPeopleJoinCircle.InvitationDisabled)
        {
            <span>Impossible de rejoindre le cercle! Les invitations sont actuellement désactivées pour ce cercle.</span>
        }
        else if (Model.Status == ParisEntreAmis.Service.CanPeopleJoinCircle.LimitReach)
        {
            <span>Impossible de rejoindre le cercle! Le nombre de membre maximal pour ce cercle a été atteint.</span>
        }

    </div>
}

