﻿@model ParisEntreAmis.Models.ViewModel.UpdateScoresBetweenTwoDatesViewModel

@{
    ViewBag.Title = "UpdateAllMatch OK";   
}

<h2>OK</h2>



start: @Model.dateStart
<br />
end: @Model.dateEnd
<br />
nb matchs updated: @Model.NbMatchsUpdated
<br />
nb matchs closed: @Model.NbMatchsClosed

<br />
Execution stime: @ViewBag.executionTime ms

