﻿@model ParisEntreAmis.Models.BetPlayedEditModel

@{
    ViewBag.Title = "Mise en place du pronostic";
}




<ol class="breadcrumb breadcrumb-large">
    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="@Url.Action("Details", "BetCircle", new { id=@Model.Bet.CircleID })">@Model.Bet.Circle.Name</a></li>
    <li class="active">@Model.Bet.Match.HomeTeam.Name - @Model.Bet.Match.AwayTeam.Name</li>
</ol>


@if (ViewBag.SaveSucess)
{
    <div class="alert alert-success">Sauvegarde effectuée avec succès</div>
}


@if (! Model.Bet.CalculateNormalScore)
{
    <div class="alert alert-danger">Seul le résultat du match (1/N/2) sera pris en compte dans le calcul des points. Autrement dit Il suffit juste de renseigner un score pour indiquer 1/N/2 !!!</div>
}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">La rencontre:</h3>
  </div>
  <div class="panel-body">
    
      @if (Model.Bet.Match.ScoreAwayTeam != null)//match terminé
      {
          
          <table>
              <tr>
                  <td class="text-center">@Model.Bet.Match.HomeTeam.Name <b>@Model.Bet.Match.ScoreHomeTeam </b></td>
                  <td class="text-center"> - </td>
                  <td class="text-center"><b>@Model.Bet.Match.ScoreAwayTeam</b> @Model.Bet.Match.AwayTeam.Name</td>
              </tr>
              <tr>
                  <td>
                      <ul>
                          @foreach (var scorer in @Model.Bet.Match.MatchGoals.Where(p=>p.TeamID == @Model.Bet.Match.HomeTeam.TeamID))
                          {
                              <li>@scorer.Player.Name @scorer.Player.FirstName</li>
                          }
                      </ul>

                  </td>
                  <td></td>
                  <td>
                      <ul>
                          @foreach (var scorer in @Model.Bet.Match.MatchGoals.Where(p=>p.TeamID == @Model.Bet.Match.AwayTeam.TeamID))
                          {
                              <li>@scorer.Player.Name @scorer.Player.FirstName</li>
                          }
                      </ul>

                  </td>
              </tr>
          </table>
          

      }
      else
      {
        <span>@Model.Bet.Match.HomeTeam.Name - @Model.Bet.Match.AwayTeam.Name</span>
      }


      <br /><br />
      <i>Date de la rencontre: @Model.Bet.Match.Date</i>
      <br /><br />


       @if (@Model.Bet.IsClosed && !Model.Bet.Match.IsFinished)
        {
            <div class="alert alert-danger">Les pronostics sont clos! Les scores seront calculés lorsque le résultats du match sera disponible.</div>
        }
      <br />
      
      @if (User.IsInRole(ParisEntreAmis.Constants.ROLE_ADMIN))
      {
          @Html.ActionLink("Modifier le score de la rencontre", "Edit", "Match", new { id=Model.Bet.MatchID },null )
      }
      

  </div>
</div>


@if (Model.Bet.IsClosed)
{        
    <div class="row">    

        <div class="col-md-6">
            <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">Pronostic mis en place:</h3>
                  </div>
                  <div class="panel-body">

                      @if(Model.CurrentUserDidNotPlayed)
                      {
                          <b>Vous n'avez pas joué</b>
                      }
                      else
                      {                            
                          @Model.Bet.Match.HomeTeam.Name  <b> @Model.ScoreHomeTeam - @Model.ScoreAwayTeam</b>  @Model.Bet.Match.AwayTeam.Name

                          <br />
                          <div>
                          <b>Buteur: </b>
                          
                          @if(Model.Scorer != null)
                          {
                             <i> @Model.Scorer.Name @Model.Scorer.FirstName</i><span> ( @Model.Scorer.Team.Name )</span>
                          }else{
                              <span>aucun</span>
                          }
                          </div>
                          
                          
                      }                   

                  </div>
            </div>
        </div>  

        <div class="col-md-6">

            <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">Côtes:</h3>
                  </div>
                  <div class="panel-body">

                      @if ( Model.Bet.CalculateNormalScore)
                      {
                        <span>    
                          Victoire de  @Model.Bet.Match.HomeTeam.Name: @Model.BetOdds.OddHomeTeamWin<br />
                          Match nul: @Model.BetOdds.OddDrawGame<br />
                          Victoire de  @Model.Bet.Match.AwayTeam.Name: @Model.BetOdds.OddAwayTeamWin
                        </span>
                      }
                      else
                      {
                          <span>
                          Donne +1 point en cas de résultat juste !
                        </span>
                      }


                  </div>
            </div>            

        </div>

    </div>
    
    
    
    <div class="row">
        
        <div class="col-md-12">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Les pronostics des membres du cercle:</h3>
                </div>
            <div class="panel-body">

                @if (!Model.Bet.Match.IsFinished)
                {
                    <b>Les points seront calculés lorsque le résultat du match sera disponible</b>
                }

                <table class="table table-striped table-condensed">

                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Score</th>
                        <th>Pronostic
                            <br />
                            @Model.Bet.Match.HomeTeam.Name - @Model.Bet.Match.AwayTeam.Name

                        </th>
                        <th>Buteur</th>
                        @if (Model.Bet.Match.IsFinished)
                        {
                            <th>Points résultat</th>
                            <th>Points score</th>
                            <th>Points buteur</th>
                            <th>Points total rencontre</th>
                            <th><i class="fa fa-coffee"></i> Café ?</th>
                        }
                    </tr>

                    @{int i = 1;}
                    @foreach (var bet in Model.UsersScoreBoardWithBet)
                    {
                        
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                <b> @bet.Name</b>
                            </td>
                            <td>
                                @bet.Score
                            </td>
                            <td>

                                @if (bet.BetPlayedInCurrentContext.HasNotPlayed)
                                {
                                    <b>pas joué</b>
                                }
                                else
                                {                                   
                                   
                                    <b> @bet.BetPlayedInCurrentContext.ScoreHomeTeam - @bet.BetPlayedInCurrentContext.ScoreAwayTeam</b>                                    
                                }
                            </td>
                            <td>
                                @if ( ! bet.BetPlayedInCurrentContext.HasNotPlayed)
                                {
                                    <b><i>@bet.BetPlayedInCurrentContext.ScorerName @bet.BetPlayedInCurrentContext.ScorerFirstName</i></b> 
                                }
                            </td> 
                                    
                            @if (Model.Bet.Match.IsFinished)
                            {
                                <td>
                                    @bet.BetPlayedInCurrentContext.PointsResult
                                </td>
                                <td>
                                    @bet.BetPlayedInCurrentContext.PointsScore
                                </td>
                                <td>
                                    @bet.BetPlayedInCurrentContext.PointsScorer
                                </td>
                                <td>
                                    <b>@bet.BetPlayedInCurrentContext.Total</b>
                                </td>
                                <td>
                                    @if (bet.BetPlayedInCurrentContext.IsLooser)
                                    {
                                        <i class="fa fa-coffee fa-2x"></i>
                                    }
                                </td>
                            }
                                                                       
                        </tr>
                        i++;

                    }
                </table>
                    
            </div>
        </div>
        </div>
    </div>
}
else
{
    

    using (Html.BeginForm())
    {

        @Html.HiddenFor(model=>model.BetID)
        
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">pronostic mis en place:</h3>
          </div>
          <div class="panel-body">
    
              

                @if (! Model.Bet.CalculateNormalScore)
                {
                    <div class="alert alert-danger">Seul le résultat du match (1/N/2) sera pris en compte dans le calcul des points. Autrement dit Il suffit juste de renseigner un score pour indiquer 1/N/2 !!!</div>
                }

                <i>Date limite: @Model.Bet.DeadLine.AddHours(1) (Après cette date il ne sera plus possible de modifier le pronostic)</i>
                <br />

                @Model.Bet.Match.HomeTeam.Name  @Html.EditorFor(model=>model.ScoreHomeTeam)  -  @Html.EditorFor(model=>model.ScoreAwayTeam)  @Model.Bet.Match.AwayTeam.Name

              <br />
              <br />
              <b>Buteur:</b>

              <select name="ScorerID">
                  <option></option>
                  <optgroup label="@Model.Bet.Match.HomeTeam.Name"></optgroup>

                  @foreach (var p in @Model.PlayersHomeTeam)
                  {
                      string selected = "";

                      if (p.PlayerID == Model.ScorerID)
                      {
                          selected = "selected=\"selected\"";
                      }
                  
                      <option @selected value="@p.PlayerID">@p.FirstName @p.Name</option>
                  }

                  <optgroup label="@Model.Bet.Match.AwayTeam.Name"></optgroup>

                  @foreach (var p in @Model.PlayersAwayTeam)
                  {
                      string selected = "";

                      if (p.PlayerID == Model.ScorerID)
                      {
                          selected = "selected=\"selected\"";
                      }
                  
                      <option @selected value="@p.PlayerID">@p.FirstName @p.Name</option>
                  }


              </select>
          
          </div>
        </div>
        
        <input class="btn btn-success" type="submit" value="Sauvegarder">
        <br />
        <i>Il sera toujours possible de modifier le pari jusqu'à la date limite.</i>
      
    
    }
}
