﻿@model ParisEntreAmis.Models.MatchEditModel

@{
    ViewBag.Title = "Modification du match";
}

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js" ></script>

<h2>@Model.Match.HomeTeam.Name - @Model.Match.AwayTeam.Name</h2>


@using (Html.BeginForm())
{

    @Html.HiddenFor(model=>model.MatchID)
        
      
    @Model.Match.HomeTeam.Name  @Html.EditorFor(model=>model.ScoreHomeTeam) <span> - </span>
        
    @Html.EditorFor(model=>model.ScoreAwayTeam)  @Model.Match.AwayTeam.Name

             
        <br /><br />
    
    <b>Ajout des buteurs</b>
    
    <table>
        <thead>
            <tr>
                <th>But pour</th>
                <th>Buteur</th>
                <th>Minute</th>
            </tr>
        </thead>
        

        <tbody data-bind="foreach: scorers">
            <tr>
                <td>
                    <select name="TeamID" data-bind="value: teamID">
                        <option value="@Model.Match.HomeTeam.TeamID">@Model.Match.HomeTeam.Name</option>
                        <option value="@Model.Match.AwayTeam.TeamID">@Model.Match.AwayTeam.Name</option>
                    </select>

                </td>
                <td>
                    <select name="ScorerID" data-bind="value: playerID">
                            <option></option>
                            <optgroup label="@Model.Match.HomeTeam.Name"></optgroup>

                            @foreach (var p in @Model.PlayersHomeTeam)
                            {
                                <option value="@p.PlayerID">@p.FirstName @p.Name</option>
                            }

                            <optgroup label="@Model.Match.AwayTeam.Name"></optgroup>

                            @foreach (var p in @Model.PlayersAwayTeam)
                            {                      
                                <option value="@p.PlayerID">@p.FirstName @p.Name</option>
                            }
                     </select>
                </td>
                <td>
                    <input type="time" data-bind="value: time" />
                </td>
                <td>
                    <a href="#" data-bind="click: $root.removeScorer">Remove</a>
                </td>

              

            </tr>

         </tbody>

    </table>
    <button class="btn btn-success" data-bind="click: addScorer">Ajouter un buteur</button>
    
    <br />
    <br />
    
    
    <textarea name="scorersJson" data-bind="value: ko.toJSON(scorers)"></textarea>

          
    <input class="btn btn-success" type="submit" value="Sauvegarder" />
      
  
}

<script type="text/javascript">



    // Class to represent a row in the edit scorers
    function Scorer(playerID, teamID , time) {
        var self = this;
        self.playerID = ko.observable(playerID);
        //self.meal = ko.observable(initialMeal);
        self.time = ko.observable(time);

        self.teamID = ko.observable(teamID);
    }

    // Overall viewmodel for this screen, along with initial state
    function ScorersViewModel() {
        var self = this;

        // Non-editable catalog data - would come from the server
       /* self.availablePlayers = [
            { mealName: "Standard (sandwich)", price: 0 },
            { mealName: "Premium (lobster)", price: 34.95 },
            { mealName: "Ultimate (whole zebra)", price: 290 }
        ];*/


        // Editable data
        self.scorers = ko.observableArray([      
            @foreach (var item in Model.Match.MatchGoals)
	        {
		        @: new Scorer("@item.PlayerID" , "@item.TeamID" , ""),
	        }
        ]);

        // Operations
        self.addScorer = function () {
            self.scorers.push(new Scorer("","", "00:00"));
        }

        self.removeScorer = function (scorer) { self.scorers.remove(scorer) }
    }

    ko.applyBindings(new ScorersViewModel());


</script>
