﻿@model List<ParisEntreAmis.Models.Match>

@{
    ViewBag.Title = "Pronostics Entre Amis - Les prochaines rencontres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <h1 class="panel-heading">Les prochaines rencontres</h1>
        <div class="panel-body">
        </div>

        <table class="table">
            
            @foreach (var match in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content("~/Images/flags/"+match.Country+".png")" />
                    </td>
                    <td>
                        @match.Date.ToShortDateString() @match.Date.ToShortTimeString()
                    </td>
                    <td>
                        @match.HomeTeam.Name                          
                    </td>

                    <td></td>
                    <td></td>
                        
                    <td>
                            @match.AwayTeam.Name
                    </td>                      

                </tr>
            }
        </table>
           
    </div>

