﻿@model List<ParisEntreAmis.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Count utilisateurs enregistrés</h2>



<table class="table">
    <tr>
        <th>ID</th><th>Inscrit le</th><th>Pseudo</th><th>E-Mail</th><th>Roles</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserID</td>
            <td>@user.CreatedOn.ToShortDateString()</td>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>
                @foreach (var item in Roles.GetRolesForUser(@user.Username))
	            {
		           <span> @item   </span>
	            } 
            </td>
        </tr>
    }

</table>
