﻿@model ParisEntreAmis.Models.HomeViewModel

@{
    ViewBag.Title = "Pronostics Entre Amis";
}

<div class="row">
  <div class="col-md-4">

  


    @if (Request.IsAuthenticated)
    {

        <a href="@Url.Action("Create","BetCircle")" class="btn btn-success btn-lg btn-block">Créér un nouveau cercle</a>
              <br />
    
        if (Model.CirclesJoined.Count > 0)
        {   
            <div class="list-group">
            
                @foreach (var item in Model.CirclesJoined)
                {
                    <a href="@Url.Action("Details","BetCircle",new{ id=@item.BetCircle.BetCircleID})" class="list-group-item" >
                         
                        <h4 class="list-group-item-heading"> @item.BetCircle.Name

                            <div class="pull-right"><span class="glyphicon glyphicon-log-in"></span></div>

                        </h4>
                                           
                    </a>
                           
                }

           </div>
           
        }
        else
        {
            <div class="alert alert-warning">
                <b>Bienvenue @User.Identity.Name!</b><br />
                 <b>Vous ne faites partie d'aucun cercles </b>
                     Créér votre propre cercle et invitez vos amis ou faites vous inviter!
            </div>           
        }
        
        <script src='https://cdn.firebase.com/v0/firebase.js'></script>
        
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Notifications</div>
            
           

            <div id="tableNotifications" class="list-group">
                <div id="loading">
                    <i>Chargement en cours...</i>
                </div>  
            </div>

        </div>
        
        <script>
            
            var myDataRef = new Firebase('https://kymic.firebaseio.com/notifications/@WebSecurity.CurrentUserId');
                

            //var AUTH_TOKEN = "@ViewBag.firebaseToken";

            // Log me in.
            /*myDataRef.auth(AUTH_TOKEN, function (error) {
                if (error) {
                    console.log("Login Failed!", error);
                } else {
                    console.log("Login Succeeded!");
                }
            });*/
            
            myDataRef.on('value', function (snapshot) {
                $("#loading").hide();
            });

            myDataRef.on('child_added', function (snapshot) {
                var message = snapshot.val();
                displayNotification(message.Title, message.Message, message.BetID);

                $("#loading").hide();
            });

            function displayNotification(title, message,betID) {
                var url = "@Url.Action("Play","Bet")/" + betID;
                $("<a href=\""+url+"\" class=\"list-group-item\"><b>" + title + "</b><br/>" + message + "</a>").prependTo($('#tableNotifications'));

                //$('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
            };
        </script>
    
    }
    else
    {
        
        <div class="well well-lg">

            <blockquote>
                <p>Pronostics Entre Amis est entièrement gratuit!</p>
            </blockquote>

            Défiez vos amis en pariant sur les résultats des matchs, les buteurs, les scores des plus grands championnats Européens<br />
            

        </div>
        
    
        <h2>Connectez vous pour commencer à jouer!</h2>
        
        using (Html.BeginForm("Login", "Account", FormMethod.Post, new {  @class = "form-vertical" , @role="form" }))
        {
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

        
            <div class="form-group">
                <label for="inputEmail3" class="control-label">Pseudo</label>
                
                 <input type="text" id="inputEmail3" class="form-control" name="UserName" placeholder="Pseudo">
                
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="control-label">Mot de passe</label>
                
                 <input id="inputPassword3" type="password" class="form-control" name="Password" placeholder="Password">
                
             </div>
            <div class="form-group">
                
                <div class="checkbox">
                    <label>
                         @Html.CheckBoxFor(m => m.RememberMe)
                         Se souvenir de moi
                    </label>
                </div>
               
            </div>
            <div class="form-group">
                
                <button type="submit" class="btn btn-primary btn-lg btn-block">Connexion</button>
                <a href="@Url.Action("Register","Account")" class="btn btn-default btn-lg btn-block">S'enregistrer</a>
                
            </div>
          
          
          
        
        
        
        }

    
    }

  </div>
  <div class="col-md-8">

      <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Derniers résultats</div>
          <div class="panel-body">
          </div>

            <table class="table">
            
           

                @foreach (var match in Model.LastMatchs)
                {
                    <tr>
                        <td>
                           <img src="@Url.Content("~/Images/flags/"+match.Country+".png")" />
                        </td>
                        <td>
                            @match.Date.ToShortDateString() @match.Date.ToShortTimeString()
                        </td>
                        <td>
                            @match.HomeTeam.Name

                            <br /><i>
                            @foreach (var scorer in @match.MatchGoals.Where(t=>t.TeamID==match.HomeTeam.TeamID))
                            {
                                @scorer.Player.FullName<br />
                            }
                            </i>
                        </td>

                        <td><b>@match.ScoreHomeTeam</b></td>
                        <td><b>@match.ScoreAwayTeam</b></td>
                        
                        <td>
                             @match.AwayTeam.Name

                             <br /><i>
                            @foreach (var scorer in @match.MatchGoals.Where(t=>t.TeamID==match.AwayTeam.TeamID))
                            {
                                @scorer.Player.FullName<br />
                            }
                            </i>

                        </td>
                       

                    </tr>
                }
            </table>
           
       </div>

      <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Prochaines rencontres</div>
          <div class="panel-body">
          </div>

            <table class="table">
            
           

                @foreach (var match in Model.NextMatchs)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Images/flags/"+match.Country+".png")" />
                        </td>
                        <td>
                            @match.Date.ToShortDateString() @match.Date.ToShortTimeString()
                        </td>
                        <td>
                            @match.HomeTeam.Name

                          
                        </td>

                        <td></td>
                        <td></td>
                        
                        <td>
                             @match.AwayTeam.Name

                            

                        </td>
                       

                    </tr>
                }
            </table>
           
       </div>

  </div>
</div>