﻿<!DOCTYPE html>
<html lang="fr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title </title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")

        @Styles.Render("~/Content/bootstrap/css/bootstrap.css")

        @Styles.Render("~/Content/font-awesome/css/font-awesome.css")


        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

       


    </head>
    <body>




        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand custom-navbar-brand" href="@Url.Action("Index","Home")">
                <img src="@Url.Content("~/Images/soccer-ball.png")" />
                Pronostics Entre Amis</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @Html.MenuItem("Matchs disponibles","NextMatchs","Match")      

            
                @if (User.IsInRole(ParisEntreAmis.Constants.ROLE_ADMIN))
                {
                    @Html.MenuItem("Backoffice","Users","Backoffice")      
                }
             

              
            </ul>

            @if (Request.IsAuthenticated)
            {
                 <ul class="nav navbar-nav navbar-right">

                        <li><a href="@Url.Action("Manage","Account")"><span class="glyphicon glyphicon-user"></span> @User.Identity.Name</a></li>
                        <li><a href="@Url.Action("LogOff","Account")"><span class="glyphicon glyphicon-off"></span> se déconnecter</a></li>
             
                 </ul>
            }
            else
            {
                using (Html.BeginForm("Login", "Account", FormMethod.Post, new {  @class = "form-inline navbar-form navbar-right" })) 
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                
                    <div class="form-group">
                        <input type="text" class="form-control" name="UserName" placeholder="Pseudo">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="Password" placeholder="Password">
                    </div>
                     
                    <button type="submit" class="btn btn-primary">Go</button>
                
                    <a href="@Url.Action("Register","Account")" class="btn btn-default">S'enregistrer</a>

                }  
                    
                
            }
           
          </div><!-- /.navbar-collapse -->
        </nav>


        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; <span>Heure serveur:@DateTime.Now / Heure UTC:@DateTime.UtcNow</span>

                        <span> / Temps d'exécution: @ViewData["_elapsedTime"] ms</span>
                    </p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)



        
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-46574591-1', 'apphb.com');
            ga('send', 'pageview');

        </script>

    </body>
</html>
