﻿@{
    ViewBag.Title = "Backdoor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Backdoor</h2>

@using(Html.BeginForm())
{

    <input type="password" name="password" /> <input type="submit" value="go" />
}
