﻿@model ParisEntreAmis.Models.RegisterModel
@{
    ViewBag.Title = "S'inscrire à Pronostics Entre Amis";
}

<ol class="breadcrumb breadcrumb-large">
    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Enregistrez vous !</li>
</ol>


<div class="row">
    <div class="col-md-8">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Pas encore de compte? Inscrivez vous en seulement quelques secondes !             
            </div>
    
            <div class="panel-body">
                        
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {  @class = "form-horizontal", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                
                    <div class="form-group">

                        @Html.LabelFor(m => m.UserName, new { @class="col-sm-3 control-label" })

                        <div class="col-sm-9">
                          @Html.TextBoxFor(m => m.UserName, new {@class="form-control" , @placeholder="Nom d'utilisateur" })
                        </div>
                    </div>
                
                    <div class="form-group">

                        @Html.LabelFor(m => m.Password, new { @class="col-sm-3 control-label" })

                        <div class="col-sm-9">
                          @Html.TextBoxFor(m => m.Password, new {@class="form-control", @type="password"  })
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(m => m.ConfirmPassword, new { @class="col-sm-3 control-label" })

                        <div class="col-sm-9">
                          @Html.TextBoxFor(m => m.ConfirmPassword, new {@class="form-control",@type="password"  })
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(m => m.Email, new { @class="col-sm-3 control-label" })

                        <div class="col-sm-9">
                          @Html.TextBoxFor(m => m.Email, new {@class="form-control" , @placeholder="Adresse E-mail" })
                        </div>
                    </div>

                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input type="submit" value="S'inscrire" class="btn btn-lg btn-block btn-default" />
          
                        </div>
                    </div>
                
                }

            </div>
        </div>

    </div>


    <div class="col-md-4">
        
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Déjà inscrit?             
            </div>

            <div class="panel-body">


                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {  @class = "form-vertical" , @role="form" }))
                {
            
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    
                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
        
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label">Pseudo</label>
                
                         <input type="text" id="inputEmail3" class="form-control" name="UserName" placeholder="Pseudo">
                
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="control-label">Mot de passe</label>
                
                         <input id="inputPassword3" type="password" class="form-control" name="Password" placeholder="Password">
                
                     </div>
                    <div class="form-group">
                
                        <div class="checkbox">
                            <label>
                                 @Html.CheckBox("RememberMe")
                                 Se souvenir de moi
                            </label>
                        </div>
               
                    </div>
                    <div class="form-group">                
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Connexion</button>                
                    </div>
                }

            </div>
        </div>

    </div>

</div>

   



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
