﻿@model ParisEntreAmis.Models.ViewModel.UpdateTeamsViewModel

@{
    ViewBag.Title = "UpdateAllTeams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Update All Teams</h2>


<b>Nombre de teams updaté ou inséré: </b> @Model.NbTeamsUpdated

<br />
<br />
<b>LOGS:</b>

<pre>
@Model.logs
</pre>
